header{
  z-index: 10;
  }
.logo{
  padding-top: 5px;
  padding-left: 10px;
  display:inline;
  float:left;
}
.menus{
  height: 50px;
  background-color: rgba(63,191,191,0.7);
}
.menu{
  padding:10px 30px;
  float:right;
  color:white;
}
.top-wrapper{
  background-image: url("https://enosann.github.io/enfrfo/0880EDA9-D1F4-489F-872F-97261BE2DF09.jpeg");
}
